<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fraternity Group</title>
    <meta name="google-site-verification" content="CkrhyWKLMzsdIjzNBm8Dg7P-j8MWKc5k9rlDjwBF0S8" />
    <meta name="description" content="Fraternity Group software and web services">
    <link rel="icon" href="img/favicon.png" sizes="32x32" type="image/png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/custom.css">

    <link rel="stylesheet" href="css/aos.css">
</head>

<body>
  
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid particle" id="banner" style="background-image: url(img/pexels-vitaly-vlasov-1342460.jpg);">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="img/logo.png" alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <h4><b><a class="text-white small">Fraternity Group</a></b></h4>
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	The New Way<br>
            	To Start Business
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="small text-white my-4">
                With high security and scalability
                
            </p>
            <a href="#ser" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
        </div>
    </div>
    
    <!-- three-blcok -->
    <div class="container my-5 py-2">
    <div>
    <h2 class="text-center font-weight-bold my-5" id='ser'>Our Services</h2>
    </div>
        <h4 class="text-center font-weight-bold my-5">The best development for your site or app</h4>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_Web_developer_re_h7ie.png" alt="Anti-spam" class="mx-auto imag">
                <h4><a href='#wsite' id='csite'>Develop a website</a></h4>
                <p>Develop a website or web application backend according to your needs.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_web_devices_ad58.png" alt="Phishing Detect" class="mx-auto imag">
                <h4><a href='#wtoapp' id='csite'>Website to android/ios app</a></h4>
                <p>Convert your website from web to android or ios platforms</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_mobile_web_2g8b.png" alt="Smart Scan" class="mx-auto imag">
                <h4><a href='#dapp' id='csite'>Develop a android/ios app</a></h4>
                <p>Develop and android or ios app from scratch as per your needs.</p>
            </div>
        </div>
    </div>
    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Take a look inside</h2>
                    <p class="my-4">Look the technologies used..
                        <br> Uses frameworks which are accepted by most communities. </p>
                    <a href="/frameworks" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                    <img src="img/feature-1.png" alt="Take a look inside" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- feature (green background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-last">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">Safe and reliable</h2>
                    <p class="my-4">
                        All your websites are fully encryped with SSL .
                        <br> All your android/ios apps are safe from penetration testings and reverse engineering.
                    </p>
                    <a href="/security" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                    <img src="img/undraw_security_o890.png" alt="Safe and reliable" class="mx-auto d-block imag">
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 py-2">
        <h4 class="text-center font-weight-bold my-5">Smartest protection for your site</h4>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_Secure_server_re_8wsq.png" alt="Phishing Detect" class="mx-auto imag">
                <h4>Highly secure</h4>
                <p>All your apps and sites are fully secure with end-to-end encryption.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_performance_overview_p9bm.png" alt="Phishing Detect" class="mx-auto imag">
                <h4>High performance</h4>
                <p>Maximum performance to your website and app.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="img/undraw_Active_support_re_b7sj.png" alt="Phishing Detect" class="mx-auto imag">
                <h4>24/7 full support</h4>
                <p>We provide 24/7 customer support to all clients.</p>
            </div>
        </div>
    </div>
    
    <!-- price table -->
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3" id='wsite'>Check our pricing for developing website</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">STARTUP</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 2 Static website</li>
                    <li>Free hosting</li>
                    <li>No domain</li>
                    <li>No authentication</li>
                    <li>Free SSL certificate</li>
                    <li>Use wordpress, blogger, weebly with custom code</li>
                </ul>
            
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Started</a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">PREMIUM</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 5 Static website or a web app</li>
                    <li>6 hosting</li>
                    <li>No domain</li>
                    <li>Free SSL certificate</li>
                    <li>24/7 support</li>
                    <li>Email support</li>
                    <li>Authentication for 600 users/month</li>
                    <li>Basic performance test</i>
                    <li>Use wordpress, blogger, weebly with custom code</li>
                </ul>
                
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Unlimited static sites, 3 web app</li>
                    <li>Unlimited hosting</li>
                    <li>Free Domain (if available)</li>
                    <li>Custom SSL certificate</li>
                    <li>24/7 support</li>
                    <li>Email support</li>
                    <li>Unlimited Support</li>
                    <li>Authentication for 2000 users/month</li>
                    <li>Full performance and security tests</li>
                    <li>Fully coded site from scratch</li>
                </ul>
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Started</a>
            </div>
        </div>
    </div>
    <br>
     <!-- price table -->
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3" id='wtoapp'>Check our pricing for website to android/ios app</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">STARTUP</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 3 websites to android or ios app</li>
                    <li>Free security test</li>
                    <li>24/7 support</li>
                    <li>No other features in app</li>
                </ul><br>
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Started</a>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">PREMIUM</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 6 websites to android or ios app</li>
                    <li>Free security test</li>
                    <li>24/7 support</li>
                    <li>Limited added features</li>
                </ul>
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 10 websites to android or ios app</li>
                    <li>Free security test</li>
                    <li>24/7 support</li>
                    <li>Added features as per client needs</li>
                </ul>
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Started</a>
            </div>
        </div>
    </div>
    <br>
     <!-- price table -->
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3" id='dapp'>Check our pricing for android/ios app</h2>
        <div class="row">
            
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="mx-auto col-md-4 text-center py-4 mt-5">
                <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">Min. $ <span class="display-2 font-weight-bold">10</span></p>
                <ul class="list-unstyled">
                    <li>Full price can only be decided after calculated.</li>
                    <li>24/7 Support</li>
                    <li>App will be ready in less time</li>
                    <li>Full secure</li>
                    <li>High performance </li>
                </ul>
                <a href="/contact" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Started</a>
            </div>
        </div>
    </div>

    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(img/pexels-digital-buggu-193777.jpg);">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Contact Us</h2>
                    <p class="my-4">
                        For any issues or feedback,
                        <br> email us or give us a missed call..
                    </p>
                    <ul class="list-unstyled">
                        <li>Email : fraternitytechstore@gmail.com</li>
                        <li>Phone : 9074972848</li>
                        <li>Address : Alappuzha Kerala, India</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form method="POST" action="/email">
                    	<div class="row">
	                        <div class="form-group col-md-6">
	                            <label for="name">Your Name</label>
	                            <input type="name" class="form-control" id="name" name="name">
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label for="Email">Your Email</label>
	                            <input type="email" class="form-control" id="Email" name="email">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="message">Message</label>
	                        <textarea class="form-control" id="message" rows="3" name="bodydat"></textarea>
	                    </div>
                        <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3" id="butn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2021 Fraternity Group
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    
                   
                </div>
            </div>
        </div>
    </div>
    
    <!-- AOS -->
    <script src="js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>
    
</body>

</html>